h1 {
    text-decoration: underline;
}

table {
    border: 2px double black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

th {
    border-bottom: 4px double black;
}