%html
  %head
    %link{:rel => 'stylesheet', :href => './index.css'}
    %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js'}
    %script{:type => 'text/javascript', :src => './tools.js'}
    %script{:type => 'text/javascript', :src => './index.js'}
  %body
    %div#reporter.none
    %form{:name => 'main_form', :action => '/convert', :method => 'POST', :enctype => 'multipart/form-data', :target => '_blank'}
      %table#main_table
        %tr
          %td markdown file
          %td
            %input{:type => 'file', :name => 'file', :accept => '.md, .markdown'}
        %tr
          %td output type
          %td
            %select{:name => 'output_type', :onChange => 'do_after_switch_type(this.value);'}
              %option{:value => 'html'} html
              %option{:value => 'word'} word
        %tr
          %td template_name
          %td
            %select#template_selector{:name => 'template'}
            %button{:onClick => 'return template_ajax.get(this.form.output_type.value, this.form.template.value);'} Download
            %button{:id => 'template_delete_button', :onClick => 'return template_ajax.delete();'} Delete
        %tr
          %td
          %td
            %input#convert_button{:type => 'submit', :value => 'convert', :onClick => 'return check_convert_form(document.main_form);'}
      %input{:type => 'hidden', :name => '_method', :value => 'post'}
    %form{:name => 'template_get_form', :target => '_blank', :action => '/templates', :method => 'GET'}
      %input{:type => 'hidden', :name => 'type'}
      %input{:type => 'hidden', :name => 'name'}
      %input{:type => 'hidden', :name => '_method', :value => 'get'}
    %form{:name => 'template_post_form', :onSubmit => 'return false'}
      %div{} Upload a new template file
      %input{:name => 'file', :type => 'file'}
      %input{:type => 'button', :value => 'Upload', :onClick => 'template_ajax.post()'}
    %script{:type => 'text/javascript'} template_list.init();
