%html
  %head
    %link{:rel => 'stylesheet', :href => './index.css'}
    %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js'}
    %script{:type => 'text/javascript', :src => './tools.js'}
    %script{:type => 'text/javascript', :src => './index.js'}
  %body
    %form{:name => 'main_form', :action => '/convert', :method => 'POST', :enctype => 'multipart/form-data'}
      %table#main_table
        %tr
          %td markdown file
          %td
            %input{:type => 'file', :name => 'file'}
        %tr
          %td output type
          %td
            %select{:name => 'output_type', :onChange => 'do_after_switch_type(this.value);'}
              %option{:value => 'html'} html
              %option{:value => 'word'} word
        %tr
          %td template_name
          %td
            %select#template_selector{:name => 'template'}
            %button{:onClick => 'return template.get(this.form.output_type.value, this.form.template.value);'} Download
        %tr
          %td
          %td
            %input{:type => 'submit', :value => 'convert'}
      %input{:type => 'hidden', :name => '_method', :value => 'post'}
    %form{:name => 'template_get_form', :action => '/templates', :method => 'GET'}
      %input{:type => 'hidden', :name => 'type'}
      %input{:type => 'hidden', :name => 'name'}
      %input{:type => 'hidden', :name => '_method', :value => 'get'}
    %form{:name => 'template_post_form', :action => '/templates', :method => 'POST', :enctype => 'multipart/form-data'}
      %div{} Upload a new template file
      %input{:name => 'file', :type => 'file'}
      %input{:type => 'button', :value => 'Upload', :onClick => 'template.get()'}
    %div.html_conf configuration of html
    %div.docx_conf{:style => 'display:none'} configuration of docx
    %script{:type => 'text/javascript'} template.update_template_selector('html');
