#main_table {
    border: 2px solid black;
}

#main_table td:nth-of-type(1) {
    text-align: right;
}
#main_table td:nth-of-type(2) {
    text-align: left;
}

#template_delete_button {
    background-color: red;
    color: white;
}

#convert_button {
    border-radius: 3px;
    border: 3px solid #88f;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: blue;
    color: white;
    font-size: large;
    text-decoration: underline;
}

#convert_button:hover {
    border: 3px solid #888;
}

#convert_button:active {
    background-color: black;
}

#reporter {
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

#reporter.none {
    display: none;
}

#reporter.error {
    background-color: #fdd;
}

#reporter.notice {
    background-color: #dfd;
}